@import "tailwindcss";

@theme {
  --color-black: #171717;
  --color-white: #ffffff;
  --color-milky-white: #fefaf3;
  --color-pale-purple0: #f3e9fd;
  --color-pale-purple1: #e5d5fd;
  --color-pale-purple2: #c4b9f9;
  --color-purple0: #8e61ff;
  --color-purple1: #ccb8ff;
  --color-nice-purple0: #544d85;
  --color-nice-purple1: #746ba6;
  --color-nice-purple2: #423c6c; /* deepest */
  --color-sky-blue: #a9e8f2;
  --color-pink0: #ffc2f9;
  --color-pink1: #fcb0ff;
  --color-pink2: #fed6ff;
  --color-pink3: #ff8fea;
  --color-Mauve: #e2baff;
  --color-purblue: #aab1f2;

  --font-titillium-web: "Titillium Web", sans-serif;
  --font-fraunces: "Fraunces", serif;
  --font-fira-code: "Fira Code", monospace;
}

@layer base {
  html,
  body {
    @apply min-h-screen;
    overflow-x: hidden;
    /* remove padding */
  }
}

/* my cute cute pastel bg */
body {
  /* background: radial-gradient(
      at 6% 8%,
      var(--color-purple0) 0%,
      transparent 50%
    ),
    radial-gradient(at 95% 75%, var(--color-pink1) 0%, transparent 50%),
    radial-gradient(at 92% 27%, var(--color-sky-blue) 0%, transparent 50%),
    radial-gradient(at 52% 100%, var(--color-sky-blue) 0%, transparent 50%),
    radial-gradient(at 9% 88%, var(--color-pale-purple2) 0%, transparent 50%); */

  /* background-color: var(--color-milky-white); */
  background-color: var(--color-pale-purple0);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
}

@media (min-width: 600px){
  @keyframes blob {
  0% {
    transform: rotate(0deg);
  }
  66% {
    transform: translate(-40, 40px) scale(1.2) rotate(160deg);
  }
  77% {
    transform: translate(50px, -20px) scale(1) rotate(220deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes blob2 {
  0% {
    transform: rotate(360deg);
  }
  33% {
    transform: rotate(200deg), scale(1.5);
  }
  50% {
    transform: rotate(160deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes blob3 {
  0% {
    transform: translate(0px, 0px) scale(1) rotate(0deg);
  }
  66% {
    transform: translate(-20px, -30px) scale(1.3) rotate(220deg);
  }
  78% {
    transform: scale(1.2) rotate(300deg);
  }
  100% {
    transform: translate(0px, 0px) scale(1) rotate(360deg);
  }
}}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out 0.5s forwards;
}

@keyframes flash {
  0% {
    filter: brightness(1);
  }
  7% {
    filter: brightness(1.5);
  }
  14% {
    filter: brightness(1);
  }
  21%, 100% {
    filter: brightness(1.2);
  }
}

.animate-flash {
  animation: flash 0.75s ease-out 1 forwards;
}

@supports not (height: 100dvh) {
  .min-h-dvh {
    min-height: 100vh;
  }
  .h-dvh {
    height: 100vh;
  }
}