.typewriterText{
    display: inline-block;
} 

.typewriterContainer{
/* text-4xl sm:text-6xl font-semibold text-nice-purple0 */
    padding-top: 1rem;
    font-size: 3.75rem; 
    font-weight: 600;
    color: var(--color-nice-purple0); 
    white-space: nowrap;
    border-right: 5px solid var(--color-nice-purple0);
    width: 100%;
    overflow: hidden;
    animation:
        typing 2s steps(12),
        cursor .4s step-end infinite alternate;
} 

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}